{% extends 'tlog/base.html' %}
{% load static %}



{% block content %}
    <h2><p style="text-align:center;">About Me</p></h2>

     <p style="text-align:center;"><img src="{% static "css\asd.jpg" %}" width="410" height="auto" ></p><br>

    
    xsaaaaaaaaaaaaaaaxsaxsaxxxxxxxxxxxxxxxxxsa

    <p>I am graduate student at Florida State University studying under Wolfgang Heil.

KRECKREC

KRECKREC

KRECKRECdsadsdsaaaaaaaggggggggggggggggggggggggggggggggggggggggggg
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
KRECKREC
   
    <br>



{% endblock %}
