{% extends 'tlog/base.html' %}
{% load static %}



{% block content %}
    <h2><p style="text-align:center;">Projects</p></h2>
    <font size= "4"><strong>Graduate Student Seminar</strong></font><br><br>
	I run GSS with John Bergschneider and Michael Niemeier. The schedule for our current speakers this semester is below. GSS takes place Fridays 11:15-12:05 in LOV 101.
	 If you would like to give a talk, please choose from one of the available dates and email me.<br><br>
<figure><img src="{% static "css\informalseminar.jpg" %}" align="right" width="300" height="auto" ><figcaption>Over the summer, some of us graduate students ran an informal seminar where we presented our research and subjects we were learning. It was so successful, I wanted to run GSS this semester.</figcaption></figure>
	<table>
<p> <TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
 <tr>
  <th>Name</th>
  <th>Date</th>
 </tr>
 <tr>
  <td>John Bergschneider</td>
  <td>9/13/19</td>
 </tr>
 <tr>
   <td> Haibin Hang </td>
   <td> 9/20/19</td>
 </tr>
<tr>
   <td> Yi Zhou </td>
   <td> 9/27/19</td>
 </tr>
<tr>
   <td> FREE </td>
   <td> 10/4/19</td>
 </tr>
<tr>
   <td> FREE </td>
   <td> 10/11/19</td>
 </tr>
<tr>
   <td> Thanittha Kowan </td>
   <td> 10/18/19</td>
 </tr>
<tr>
   <td> Opal Graham </td>
   <td> 11/1/19</td>
 </tr>
<tr>
   <td> Shayea Aldossari</td>
   <td> 11/8/19</td>
 </tr>
<tr>
   <td> Mark Ingram</td>
   <td> 11/15/19</td>
 </tr>
<tr>
   <td> Anindya Chanda </td>
   <td> 11/22/19</td>
 </tr>
<tr>
   <td> Abdullah Malik</td>
   <td> 12/6/19</td>
 </tr>
</table><br><br>

</p> 


    <font size= "4"><strong>Crochet</strong></font><br><br>
	I enjoy making mathematical crochets of geometric objects.<br><br>




    <font size= "4"><strong>Software</strong></font><br><br>
	I currently mainly use GeoGebra to create visuals for my research. It is highly intuitive and easy to begin using immediately. <br>
	<br>
	Past GeoGebra Projects:<br>
	<ul>
	<li><a href="https://www.geogebra.org/m/zpTAP8PA" target="_blank">Hyperbolic Tetrahedron</a>
	</li>
	<li><a href="https://www.geogebra.org/m/RUTKVnvr" target="_blank">Ideal Tetrahedron</a>
	<li><a href="https://www.geogebra.org/m/RXacpSpW" target="_blank">Hyperideal Unitary Tetrahedron</a></li>
	<li><a href="https://www.geogebra.org/m/c9dnxdm6" target="_blank">Parabolic Coaxial Family on 2-Sphere</a></li>
	<li><a href="https://www.geogebra.org/m/s5cefk7h" target="_blank">Hyperbolic Coaxial Family on 2-Sphere</a></li>
	<li><a href="https://www.geogebra.org/m/bygm7d96" target="_blank">Elliptic Coaxial Family on 2-Sphere</a></li>
	<li><a href="https://www.geogebra.org/m/ktd6rwwr" target="_blank">Parabolic Circle-Plane on 2-Sphere</a></li>
	<li><a href="https://www.geogebra.org/m/afwackan" target="_blank">Hyperbolic Circle-Plane on 2-Sphere</a></li>
	<li><a href="https://www.geogebra.org/m/fdcucxrn" target="_blank">Elliptic Circle-Plane on 2-Sphere</a></li>
	<li><a href="https://www.geogebra.org/m/axdurvhb" target="_blank">Parabolic Apollonian Family Mesh</a></li>
	<li><a href="https://www.geogebra.org/m/H5Zk92j9" target="_blank">Hyperbolic-Elliptic Apollonian Family</a></li>
	</ul><br>
	Current GeoGebra Projects:
	<ul>
	<li>3D Printing the "Parabolic Apollonian Family Mesh" to use as a stereographic projection model</li>
	<li>Making other apollonian family meshes to be 3D printed.</li>
	<li>Creating an 'orthogonal circle' tool.
	<li>Creating an 'inversive distance' tool.
	</ul> 
	<br>
	

   
	
	</p>
   
    <br> 


{% endblock %}
