
{% extends 'tlog/base.html' %}
{% load static %}



{% block content %}
    <h2><p style="text-align:center;">About Me</p></h2>

    <p style="text-align:center;"><img src="{% static "css\hyperbolic.png" %}" width="200" height="auto" ><img src="{% static "css\ideal.png" %}" width="200" height="auto" ><img src="{% static "css\unitary.png" %}" width="250" height="auto" ></p>
    <br>
    

    <p>

<p style="text-align:left;">
 </p> I am currently applying to academic jobs for the 2020-2021 school year. 
<br><br>I am a sixth year graduate student in the Pure Mathematics program at Florida State
University. My research interests lie in Discrete Geometry, with a focus in studying 
circle configurations and projective polyhedra. My advisor
is Dr. Philip L. Bowers. I plan to graduate May 2020. View my <a href="{% static "css\CVgrahamwebsite.pdf"%}" download="GrahamCV">Curriculum Vitae</a> to learn more.
 <br><br>
I am organizing Graduate Student Seminar this semester (Fall 2019), Fridays 11:15-12:05. If you are interested in giving
a talk, please email me with your preferred date. See 'Projects' for dates already taken.<br><br>


<p style="text-align:center;"><img src="{% static "css\cats.png" %}" width="600" height="auto" ></p>
    <br>


{% endblock %}
