{% extends 'tlog/base.html' %}
{% load static %}



{% block content %}
    <h2><p style="text-align:center;">Research</p></h2><br>
	<font size= "4"><strong>Overview</strong></font><br><br>
	I am interested in Discrete Geometry. Specifically, I study discrete configurations of points, circles, and 
	spheres. I am motivated by endeavors to characterize circle packings and projective polyhedra up to M&ouml;bius transformations.
	Currently, I am exploring global rigidity (uniqueness); in the next phase of my research, I will focus on existence.
	I aim to use this as a path into studying projective structures on manifolds. <br><br>
	
	
	<br><br>
     <font size= "4"><strong>Talks</strong></font><br><br>
	<img src="{% static "css\talk.jpg" %}" width="600" height="auto" ><br><br>
	Here are a few powerpoints from talks I've given in the past year. I frequently give chalk talks.<br><br>
	<ul>
	<li>My flashtalk,
	<a href="{% static "css\Correspondence.pdf" %}" download="GrahamTalk1">A Correspondence Between Projective Geometry and Circle Geometry</a>
	I did for FSU Math Department's <a href="https://www.math.fsu.edu/GSRW/" target="_blank">Graduate Research Week</a> in March 2019.</li>
	<br>
	<li>My poster,
	<a href="{% static "css\Poster.pdf" %}" download="GrahamTalk2">Rigidity of Configurations of Points and Spheres</a>
	I also did for FSU Math Department's <a href="https://www.math.fsu.edu/GSRW/" target="_blank">Graduate Research Week</a>, in which
	I won 1st prize in the poster contest.</li>
	<br>
	<li>My talk, 
	<a href="{% static "css\Rigidity 2.pdf" %}" download="GrahamTalk3">Rigidity of Configurations of Points and Spheres</a>, done for the
	 <a href="https://www.math.fsu.edu/~ballas/uf_fsu_meeting_2019/" target="_blank">2019 UF-FSU Topology and Geometry Meeting</a> in February.
	</li></ul>
	Go to my <a href="http://127.0.0.1:8000/news/" target="_blank">'News'</a> page to see a list of upcoming talks
	and talks I've given in the past year. 
	<br><br>

	<font size= "4"><strong>Papers in Progress</strong></font><br><br>

	Dissertation: <i>Rigidity of Points, Circles, and Spheres </i>













{% endblock %}