{% extends 'tlog/base.html' %}
{% load static %}



{% block content %}
    <h2><p style="text-align:center;">Teaching</p></h2>
	Fall '19: MAC 2311 -- Calculus I <br>
	Students go to our <a href="https://canvas.fsu.edu/courses/97544" target="_blank"> Canvas page</a> for details.
	<br><br>
	<font size= "4"><strong>Prior Semesters</strong></font><br><br>
	<ul>
	<li>Spring '19: MAP 4153 -- Vector Calculus</li>
	<li>Fall '18: MAD 3105 -- Discrete Math II</li>
	<li>Summer '18: MAC 2312 -- Calculus II </li>
	<li>Spring '18: MAC 2311 -- Calculus I </li>
	<li>Fall '17: MAC 1140 -- Precalculus</li>
	<li>Spring '17: MAC 1140 -- Precalculus</li> 
	</ul>
    
   
    <br>

{% endblock %}
